<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/headers.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
     <div class="container-md bg-warning">
         <header class="d-flex flex-wrap align-items-stretch justify-content-center justify-content-md-around py-3 border-bottom border-dark">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark ">
        <img src="/images/medium.svg" class="mb" width="200" height="50" />
      </a> 
      <div class="col-md-4 text-end">
              <button type="button" class="btn me-2">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                </button>
                         @if(Context.Session.GetString("username") != null)
                        {
                                                                  <button type="button" class="btn me-2">
                                 <a class="nav-link text-dark" asp-controller="Auth" asp-action="LogOut">Log Out @Context.Session.GetString("username")</a>
                            </button>
                             <button type="button" class="btn btn-dark">
                                <a class="nav-link text-white" asp-controller="Auth" asp-action="Profile" asp-route-username="@Context.Session.GetString("username")">Profile</a>
                            </button>
                        }
                        else
                        {
                                      <button type="button" class="btn me-2">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Sign In</a>
                            </button>
                             <button type="button" class="btn btn-dark">
                                <a class="nav-link text-white" asp-controller="Auth" asp-action="Register">Get Started</a>
                            </button>
                        }
                                

      </div>
    </header>      
  </div>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-warning bg-yellow border-bottom box-shadow mb-20">
            <div class="container">
               <a class="navbar-brand" href="https://localhost:5001/Home/Index">
      <img src="/images/medium.png" alt="Medium" width="200" height="50">
    </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                                                <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav ml-auto">
                        @if(Context.Session.GetString("username") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Profile" asp-route-username="@Context.Session.GetString("username")">Profile</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="LogOut">Log Out @Context.Session.GetString("username")</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
        <main role="main">
            @RenderBody()
       </main>
    <footer class="border-top border-dark footer text-muted bg-warning">
        <div class="container" style="color:black;">
            &copy; 2022 - Medium - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:black;">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
